.view-all-orders {
    margin-top: 4rem;
}


.status-links{
    gap:2rem;
}
.status-links a{
    text-decoration: none;
}
.status-links div{
    border-right: 1px solid black;
    padding: 0 2rem;
}
.status-links div:nth-last-child(1){
    border: none;
}
